# Mặc định: trưởng nhóm review mọi thay đổi
* @cheesy6918

# Phân công review theo thư mục 
/backend/ @nhong4087-spec
/frontend/ @ngothihongthu212-hub
/ba/ @nguyenhuyenn1595-jpg
/tester/ @thuha02062005-code
